<ul>
	<li><a href="/underscore/Arrays/compact">compact</a></li>
	<li><a href="/underscore/Arrays/first">first</a></li>
	<li><a href="/underscore/Arrays/indexOf">indexOf</a></li>
	<li><a href="/underscore/Arrays/intersection">intersection</a></li>
	<li><a href="/underscore/Arrays/lastIndexOf">lastIndexOf</a></li>
	<li><a href="/underscore/Arrays/partition">partition</a></li>
	<li><a href="/underscore/Arrays/rest">rest</a></li>
	<li><a href="/underscore/Arrays/union">union</a></li>
	<li><a href="/underscore/Arrays/without">without</a></li>
	<li><a href="/underscore/Arrays/difference">difference</a></li>
	<li><a href="/underscore/Arrays/flatten">flatten</a></li>
	<li><a href="/underscore/Arrays/initial">initial</a></li>
	<li><a href="/underscore/Arrays/last">last</a></li>
	<li><a href="/underscore/Arrays/object">object</a></li>
	<li><a href="/underscore/Arrays/range">range</a></li>
	<li><a href="/underscore/Arrays/sortedIndex">sortedIndex</a></li>
	<li><a href="/underscore/Arrays/uniq">uniq</a></li>
	<li><a href="/underscore/Arrays/zip">zip</a></li>
</ul>