<ul>
	<li><a href="/underscore/Collections/contains">contains</a></li>
	<li><a href="/underscore/Collections/each">each</a></li>
	<li><a href="/underscore/Collections/filter">filter</a></li>
	<li><a href="/underscore/Collections/findWhere">findWhere</a></li>
	<li><a href="/underscore/Collections/indexBy">indexBy</a></li>
	<li><a href="/underscore/Collections/map">map</a></li>
	<li><a href="/underscore/Collections/min">min</a></li>
	<li><a href="/underscore/Collections/reduce">reduce</a></li>
	<li><a href="/underscore/Collections/reject">reject</a></li>
	<li><a href="/underscore/Collections/shuffle">shuffle</a></li>
	<li><a href="/underscore/Collections/some">some</a></li>
	<li><a href="/underscore/Collections/toArray">toArray</a></li>
	<li><a href="/underscore/Collections/countBy">countBy</a></li>
	<li><a href="/underscore/Collections/find">find</a></li>
	<li><a href="/underscore/Collections/groupBy">groupBy</a></li>
	<li><a href="/underscore/Collections/invoke">invoke</a></li>
	<li><a href="/underscore/Collections/max">max</a></li>
	<li><a href="/underscore/Collections/pluck">pluck</a></li>
	<li><a href="/underscore/Collections/reduceRight">reduceRight</a></li>
	<li><a href="/underscore/Collections/sample">sample</a></li>
	<li><a href="/underscore/Collections/size">size</a></li>
	<li><a href="/underscore/Collections/sortBy">sortBy</a></li>
	<li><a href="/underscore/Collections/where">where</a></li>
</ul>

                                                                                
                                                                               