<ul>
	<li><a href="/underscore/Functions/after">after</a></li>
	<li><a href="/underscore/Functions/bind">bind</a></li>
	<li><a href="/underscore/Functions/bindAll">bindAll</a></li>
	<li><a href="/underscore/Functions/compose">compose</a></li>
	<li><a href="/underscore/Functions/debounce">debounce</a></li>
	<li><a href="/underscore/Functions/defer">defer</a></li>
	<li><a href="/underscore/Functions/delay">delay</a></li>
	<li><a href="/underscore/Functions/memoize">memoize</a></li>
	<li><a href="/underscore/Functions/now">now</a></li>
	<li><a href="/underscore/Functions/once">once</a></li>
	<li><a href="/underscore/Functions/partial">partial</a></li>
	<li><a href="/underscore/Functions/throttle">throttle</a></li>
	<li><a href="/underscore/Functions/wrap">wrap</a></li>
</ul>